<div class="card">
  <div class="card-header text-white bg-warning">Sortie</div>
  <div class="card-body">
    <form>
      <div class="container">
        <div class="row">
          <!-- magazin de destination -->
          <div class="col-md-3 mb-3">
            <label for="storeList">Magazin destination</label>
          </div>
          <div class="col-md-1 mb-3">
            <select class="custom-select" id="storeList">
              <option selected>ComboBox</option>
              <option>Magazin 1</option>
              <option>Magazin 2</option>
              <option>Magazin 3</option>
            </select>
          </div>
          <div class="col-md-2 mb-3 offset-md-1">
            <input type="text" class="form-control" id="storeComp" required />
          </div>

          <!-- Statut douanier-->
          <div class="col-md-3 mb-3 offset-md-1">
            <label for="stateList">Statut Douanier</label>
          </div>
          <div class="col-md-1 mb-3">
            <select class="custom-select" id="stateList">
              <option selected>T1</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
            </select>
          </div>

          <!-- reference -->
          <div class="col-md-3 mb-3">
            <label for="refList">Réference</label>
          </div>
          <div class="col-md-1 mb-3">
            <select class="custom-select" id="refList">
              <option selected>Type</option>
              <option>AWB</option>
              <option>Autre</option>
            </select>
          </div>
          <div class="col-md-3 mb-3 offset-md-1">
            <input
              type="int"
              class="form-control"
              id="refId"
              pattern="^[\d]+$"
              required
            />
            <div class="invalid-feedback">
              <span>Le champ ne doit contenir que des chiffres.</span>
            </div>
          </div>
          <div class="clearfix"></div>

          <!-- apurement -->
          <div class="col-md-3 mb-3">
            <label for="apList">Apurement</label>
          </div>
          <div class="col-md-1 mb-3">
            <select class="custom-select" id="apList" required>
              <option selected>T1</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
            </select>
          </div>
          <div class="col-md-3 mb-3 offset-md-1">
            <input
              type="text"
              class="form-control"
              id="refApId"
              placeholder="ref document ap"
              required
            />
          </div>
          <div class="clearfix"></div>

          <!-- nature de la marchandise -->
          <div class="col-md-4 mb-3">
            <label for="comNat">Nature de la Marchandise</label>
          </div>
          <div class="col-md-7 mb-3 offset-md-1">
            <input type="text" class="form-control" id="comNat" required />
          </div>

          <!-- quantité -->
          <div class="col-md-3 mb-3">
            <label for="qt">Quantité</label>
          </div>
          <div class="col-md-3 mb-3">
            <input type="number" class="form-control" id="qt" required />
          </div>

          <!-- poids -->
          <div class="col-md-3 mb-3">
            <label for="wei">Poids</label>
          </div>
          <div class="col-md-3 mb-3">
            <input type="number" class="form-control" id="wei" required />
          </div>
          <div class="clearfix"></div>

          <!-- quantité totale-->
          <div class="col-md-3 mb-3">
            <label for="qtTot">Quantité totale</label>
          </div>
          <div class="col-md-3 mb-3">
            <input type="number" class="form-control" id="qtTot" required />
          </div>

          <!-- poids total-->
          <div class="col-md-3 mb-3">
            <label for="weiTot">Poids total</label>
          </div>
          <div class="col-md-3 mb-3">
            <input type="number" class="form-control" id="weiTot" required />
          </div>

          <!-- Boutons -->
          <div class="d-flex justify-content-md-end">
            <!-- Utilise flex-box et justify-content-md-end -->
            <button type="reset" class="btn btn-primary me-2">Annuler</button>
            <button type="submit" class="btn btn-secondary">Envoyer</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
