<div class="card">
  <div class="card-header text-white bg-secondary">
    Derniers mouvements envoyés
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered border-dark">
        <thead>
          <th class="text-center">Horodatage</th>
          <th class="text-center">Type</th>
          <th class="text-center">DE</th>
          <th class="text-center">Vers</th>
          <th class="text-center">Reference</th>
          <th class="text-center">Quantité</th>
          <th class="text-center">Poids</th>
          <th class="text-center">Statut douanier</th>
        </thead>
        <tbody>
          <!-- <tr>
            <td>10-05-2023 20:27:30</td>
            <td>SORTIE</td>
            <td>NV1</td>
            <td>SL2</td>
            <td>AWB 000 0000 0000</td>
            <td>12</td>
            <td>203.23</td>
            <td>X</td>
          </tr> -->
          <!-- a completer avec java back spring boot-->
          <tr *ngFor="let mov of movs">
            <td>{{ mov?.creDate }}</td>
            <td>
              <!--{{ if (typeof mov === ExitMov) {'SORTIE'} else {'ENTREE'}}} -->
              Entrée ou Sortie
            </td>
            <td>DE</td>
            <td>Vers</td>
            <td>{{ mov?.refType }} {{ mov?.ref }}</td>
            <td>{{ mov?.quantityTot }}</td>
            <td>{{ mov?.weightTot }}</td>
            <td>{{ mov?.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
